# Environnement Python
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Variables d'environnement
.env

# IDE / éditeurs
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Logs
*.log
